<section style="margin-top: 180px;">
    <div class="container">
        <div *ngIf="!registerMode" style=" text-align: center;">
            <div class="card d-flex text-center" style="width: 50rem; margin-left: 150px;">
                <div class="card-body rounded-0" style="background-color:#128c7e;">
                    <h3 style="font-family: 'Times New Roman', Times, serif; color:white">Find your match</h3>
                    <p class="lead" style="font-family: 'Times New Roman', Times, serif;color:white">
                        Please register here and find your Soul Mate!!
                    </p>
                    <div class="text-center">
                        <button class="mr-2 btn btn-primary rounded-0" (click)="registerToggle()">Register</button>
                    </div>
                </div>
            </div>

        </div>

        <div *ngIf="registerMode" class="container">
            <div class="row justify-content-center ">
                <div class="col-6">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
    </div>
</section>